<section class="form span12">

    <%= form_for @line, :url => line_path(@line), :html => { :class => "edit_line form-horizontal", :id => "edit_line" } do |f| -%>
        <legend>Edit this line</legend>
        <input name="_method" type="hidden" value="put" />
        <%= render :partial => "form", :locals => {:f => f} %>
    <% end -%>

</section>