<section class="form span12">

    <h1 class="title">New Budget</h1>

    <%= form_for @budget, :url => budgets_path, :html => { :class => 'form-horizontal' } do |f| -%>
        <%= render :partial => "form", :locals => {:f => f} %>
    <% end -%>

</section>