<h1><%= link_to @budget.title, budget_path(@budget) %></h1>

<table class="table table-highlight">

    <thead>

        <tr>
            <th>Title</th>
            <th>Budget</th>
            <th>Starts</th>
            <th>Ends</th>
        </tr>

    </thead>

    <tbody>

        <tr>
            <td><%= @budget.title %></td>
            <td></td>
            <td><%= @budget.starts %></td>
            <td><%= @budget.ends %></td>
        </tr>

    </tbody>

</table>