<section class="form span7">

    <%= form_for @attachment, :url => attachments_path, :html => { :class => 'form-horizontal' } do |f| -%>
      <%= render :partial => "form", :locals => {:f => f} %>
    <% end -%>

</section>