<section class="form span7">

<%= form_for @attachment, :url => budget_attachments_path, :html => { :class => 'form-horizontal', :multipart => true } do |f| -%>
        <legend>New Attachment - <%= @budget.title %></legend>
        <%= render :partial => "form", :locals => {:f => f} %>
    <% end -%>

</section>
