<section class="audits span12">

<table class="table table-striped">
  
  <thead>
      <tr>
        <th>Type</th>
        <th>Action</th>
        <th>Audited Changes</th>
        <th>Timestamp</th>
      </tr>
  </thead>

  <tbody>
  <% for audit in @audits %>
    <tr>
      <td><%= audit.auditable_type %></td>
      <td><%= audit.action %></td>
      <td><%= audit.audited_changes %></td>
      <td><%= audit.created_at %></td>
    </tr>
  <% end %>
  </tbody>

</table>

</section>