/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require_self
*/

body {
    padding-top: 60px;
}

.title {
    margin-bottom: 24px;
}

.inline {
  display: inline-block;
}

.danger,
.danger:hover {
    color: #C43C35;
}

.table td {
    vertical-align: middle;
}

.table .controls {
    text-align: right;
}
.table .controls > a {
    margin-left: 1em;
}

/* table-highlight */

.table-highlight th {
  font-weight: normal;
}
.table-highlight td {
  border: none;
  font-weight: bold;
  background: #eee;
  font-size: 1.3em;
  padding: 20px 8px;
}
.table-highlight tr:hover td {
  border-bottom: 0;
}
.table-highlight tr th:first-child {
  padding-left: 20px;
}
.table-highlight tr th:last-child {
  padding-right: 20px;
}
.table-highlight tr td:first-child {
  padding-left: 20px;
  border-radius: 4px 0 0 4px;
}
.table-highlight tr td:last-child {
  padding-right: 20px;
  border-radius: 0 4px 4px 0;
}