#main {
  margin-top: 20px;
}

.title {
    margin-bottom: 24px;
}

.danger,
.danger:hover {
    color: #C43C35;
}

.table td {
    vertical-align: middle;
}

.table .controls {
    text-align: right;
}