<section class="form span12">

    <%= form_for [@line,@subline], :url => line_sublines_path, :html => { :class => 'form-horizontal' } do |f| -%>
        <%= render :partial => "form", :locals => {:f => f} %>
    <% end -%>

</section>