<section class="form span7">

    <%= form_for [@line,@subline], :url => line_sublines_path, :html => { :class => 'form-horizontal' } do |f| -%>
        <legend>New Subline - <%= @line.line_number %> <%= @line.name %></legend>
        <%= render :partial => "form", :locals => {:f => f} %>
    <% end -%>

</section>